#Appointments{
	float: left;
	padding-left: 20px;

padding-right: 20px;

padding-bottom: 20px;

padding-top: 20px;

 
 
}

#Boarding
{  float: center;
	font color: white;
	padding-left: 20px;

padding-right: 20px;

padding-bottom: 20px;

padding-top: 20px;
  
  }


